:root
{
    --fuenteTitulos:'Fredoka', sans-serif;
    --fuenteTextos: 'Hubballi', cursive;
    --fuenteRubik:'Rubik', sans-serif;
    --coloreOscuro:#252425;
    --colorSecundario:#0ebde9;
    --colorBlanco:#ffffff;
}
html {
    box-sizing: border-box;
    font-size: 62.5%;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
.contenedor
{
    width: 120rem;
    margin: 0 auto;
}


/**************** HEADER Y NAV **********************/

.header
{
    width: 100%;
    height: 13rem;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    z-index: 33;
    background-color: var(--colorBlanco);
}
.header__logo
{
    grid-column: 1 / 2;
    
}
.header__logo img
{
    width: 35rem;
    height: 18rem;
    margin-top: -3rem;
}
.navegador
{
    grid-column: 2 / 3 ;
}
.navegador__principal
{
    width: 100%;
    display:flex;
    justify-content: space-around;
  line-height: 10rem;
}
.enlaces__nav
{
    font-size: 2.2rem;
    color: var(--coloreOscuro);
    text-decoration: none;
    font-family: var(--fuenteTextos);
    transition: all .2s ease-in-out;
}
.enlaces__nav:hover
{
 color: navy;
 font-weight: 700;
 text-decoration: underline;
 text-decoration-color: #252425;
}
.enlaces__nav--activo
{
    color: var(--colorSecundario);
    font-weight: 700;
}
.header__buscador
{
    grid-column: 3 / 4;
    display: flex;
    justify-content: right;
    height: 2rem;
    margin-top: 4rem;
}
.btn__search
{
    padding: 1rem 5rem;
    background-color: var(--colorSecundario);
    font-family:var(--fuenteTextos);
    color:var(--colorBlanco);
    font-size: 1.8rem;
    line-height: .1rem;
}
.header__buscador input
{
 width: 16rem;
 height: 2.5rem;
 font-family: var(--fuenteTextos);
 font-size: 1.8rem;
}

/****************** FIRST SECTION *****************/

.first__section
{
    width: 100%;
    height: 50rem;
    display:grid;
    grid-template-columns: 50% 50%;
   
}
.first__section__img
{
    grid-column: 2 / 3;
}
.first__section__img img
{
    width: 80%;
    height: 50rem;
    
}
.first__section--info
{
    grid-column: 1 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    grid-row: 1 / 2;
}
.first__section--info p
{
    font-size: 2.5rem;
    font-family: var(--fuenteTextos);
    color:var(--coloreOscuro);
    text-align: center;
}
.text__logo
{
    color: var(--colorSecundario);
    font-weight: 400;
    font-family: var(--fuenteTitulos);
}

/*************     SECOND SECTION ******************/
.second__section
{
    width: 100%;
    height: 50rem;
    
}
.second__section img
{
 width: 100%;
 height: 65rem;
}
/********** TREE SECTION **********/
.tree__section
{
 width: 100%;
 height: 70rem;
 display: flex;
 flex-direction: column;
 margin-top: 12rem;
}
.contenido__promos
{
    width: 100%;
    height: 50rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 2rem;

}
.box__promo
{
    width: 30%;
    height: 50rem;
    box-shadow: .2rem .2rem 1rem var(--coloreOscuro);
    display: flex;
    flex-direction: column;
    border-top: .6rem solid #1c8cee;
    padding: 4rem 1rem;
    overflow: hidden;
}
.promo__dos
{
    background-image: url(../img/promo2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.promo__uno
{
    background-image: url(../img/promo1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.promo__tres
{
    background-image: url(../img/promo3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.box__promo h2
{
    font-size: 8rem;
    color: var(--coloreOscuro);
    font-family: var(--fuenteRubik);
    text-align: center;
}
.centavos
{
    font-size: 3rem;
    color: var(--coloreOscuro);
    font-family: var(--fuenteTitulos);
    text-align: center;
}

.tree__section--title
{
    font-size: 3.2rem;
    color: var(--coloreOscuro);
    text-align: center;
    font-family: var(--fuenteTitulos);
    font-weight: 300;
}
.lista__promos
{
    list-style: circle;
}
.lista__promos li
{
    font-size: 1.8rem;
    color: var(--coloreOscuro);
    font-family: var(--fuenteTextos);
    
}
.btn__promo
{
    width: 100%;
    height: 4rem;
    background-color: #1c8cee;
    font-size: 2.2rem;
    line-height: 3rem;
    font-family: var(--fuenteTextos);
    color: var(--colorBlanco);
    margin-top: 2rem;
    text-transform: uppercase;
    transition: all .2s ease-in-out;
    
}
.btn__promo:hover
{
    background-color: var(--coloreOscuro);
    transform: scale(1.1,1.1);
}

/******************* SECTION FOUR *******************/

.four__section
{
    width: 100%;
    height: 85rem;
}
.box__promos
{
    width: 20%;
    height: 60rem;
    box-shadow: .2rem .2rem 1rem var(--coloreOscuro);
    display: flex;
    flex-direction: column;
    border-top: .6rem solid #1c8cee;
    padding: 2rem 1rem;
    overflow: hidden;
}
.box__promo--title
{
    color: var(--coloreOscuro);
    font-family: var(--fuenteTitulos);
    text-align: center;
    font-size: 2.2rem;

}
.box__promo--img
{
width: 100%;
height: 23rem;
transition: all .3s ease-in;
}
.box__promo--img:hover{
    transform: scale(1.1,1.1);
}
.box__promo--informacion,
.box__promo--price
{
    color: var(--coloreOscuro);
    text-align: center;
    font-family: var(--fuenteTextos);
    font-size: 1.8rem;

}
.box__promo--price
{
font-size: 4.2rem;
margin-top: -1rem;
}
.btn__comprar
{
    width: 100%;
    height: 3rem;
    padding: 1rem 3rem;
margin-top: 2rem;
    background-color: #1c8cee;
    font-size: 1.6rem;
    color: var(--colorBlanco);
    text-transform: uppercase;
    line-height: 1rem;
    cursor: pointer;
    transition: all .4s ease-in-out;
}
.btn__comprar:hover
{
    background-color: var(--coloreOscuro);
    transform: scale(1.1,1.1);
}
.box__productos__promo
{
    width: 100%;
    height: 80rem;
    display: flex;
    justify-content: space-around;
}
.four__section--title
{
    font-family: var(--fuenteTitulos);
    color: var(--coloreOscuro);
    font-size: 3.2rem;
    text-align: center;
    padding: 1rem 1.5rem;
}





/****************** FOOTER ********************/
.footer
{
    width: 100%;
    height: 14rem;
    background-color: var(--coloreOscuro);
    display: flex;
    margin-top: 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}
.footer h3
{
    font-size: 2rem;
    padding: 2rem 1rem;
    color: var(--colorBlanco);
    font-family: var(--fuenteRubik);
    
}
.footer__inicio
{
    font-family: var(--fuenteRubik);
    color: var(--colorSecundario);
    font-size: 2.5rem;
    text-decoration: none;
    cursor: pointer;
    margin-top:-3rem;
}
.footer__inicio:hover
{
    color: darkorange;
    text-decoration: underline;
    text-decoration-color: darkorange;
}





















/******* LANDING QUERIES **********/
/********************* media query 414px ****************/
@media (max-width:620px) and (min-width:280px){

.contenedor
{
    width: 100%;
}

    .header__buscador
{
    display: none;
}
.header
{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 15rem 15rem;
}
.header__logo
{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navegador
{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    padding:2rem;
}
.navegador__principal
{
    width: 100%;
    display: flex;
    flex-direction: column;
  text-align: center;
    line-height: 3rem;
}
.enlaces__nav
{
    background-color: #1c8cee;
    color: var(--colorBlanco);
    cursor: pointer;

}
.enlaces__nav--activo
{
    color: navy;
}
.first__section
{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 13rem 40rem;
    margin-top: 16rem;
}
.first__section--info
{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    
}
.first__section--info p 
{
    text-align: center;
    font-size: 1.8rem;
}
.first__section__img
{
    grid-column: 1 / 2;
    grid-row:  2 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
}
.first__section__img img 
{
    width: 30rem;
    height: 30rem;
  
    
}
.second__section{
    width: 100%;
    height: 40rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.second__section img 
{
    width: 40rem;
    height: 30rem;
}
.tree__section
{
    width: 100%;
    height: 150rem;
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
}
.box__promo
{
    width: 90%;
    height: 50rem;
    margin-bottom: 1.5rem;
}
.tree__section--title
{
    width: 100%;
    padding: 2rem 1rem;
}
.tree__section--title h2 
{
    font-size:2.5rem;
    text-align: center;
}

/********* four section *********/
.four__section
{
    width: 100%;
    height: 200rem;
    margin-top: 18rem;
    
}
.four__section--title
{
    font-size: 1.8rem;
    padding: 1rem 2rem;
}
.box__productos__promo
{
    width: 90%;
    height: 300rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
   

}
.box__promos
{
    width: 100%;
    height: 150rem;
    margin-bottom: 1.5rem;
}
.box__promo--img
{
    width: 80%;
    height: 33rem;
    margin: 0 auto;
}
.footer
{
    margin-top: 120rem;
}








}




/*************** query 800px ******************/
@media (max-width:800px) and (min-width:620px)
{
    .header
    {
        width: 100%;
        grid-template-columns: repeat(2,1fr);
    }
    .header__buscador
    {
        display: none;
    }
    .enlaces__nav
    {
        margin-right: 1rem;
    }
    .tree__section
    {
        width: 100%;
        height: 220rem;
    }
    .contenido__promos
    {
        width: 100%;
        height: 220rem;
        display: flex;
        flex-direction: column;
    }
    .box__promo
    {
        width: 100%;
        height: 60rem;
        padding-top: 12rem;
    }
    .lista__promos li {
      font-size: 3rem;
    }
   
















}
/****** query 1000px   ***********/
@media (max-width:1000px) and (min-width:800px)
{
    .header
    {
        width: 100%;
        grid-template-columns: repeat(2,1fr);
    }
    .header__buscador
    {
        display: none;
    }
}